/* Updated and improved CSS for a fresh look */

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  border-bottom: 2px solid #497174;
  background-color: #D6E4E5;
  padding: 1rem;
  }
  
  .blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.5rem;
  color: #497174;
  }
  
  .blog-header-logo:hover {
  text-decoration: none;
  color: #EB6440;
  }
  
  h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  color: #000000;
  font-weight: 600;
  }
  
  .display-4 {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 1rem;
  }
  @media (min-width: 768px) {
  .display-4 {
  font-size: 3rem;
  }
  }
  
  .flex-auto {
  flex: 0 0 auto;
  }
  
  .h-250 {
  height: 250px;
  background-color: #EFF5F5;
  }
  @media (min-width: 768px) {
  .h-md-250 {
  height: 250px;
  background-color: #EFF5F5;
  }
  }
  
  /* Pagination */
  .blog-pagination {
  margin-bottom: 4rem;
  color: #497174;
  }
  
  /*
  
  Blog posts
  */
  .blog-post {
  margin-bottom: 4rem;
  background-color: #EFF5F5;
  padding: 1.5rem;
  border-radius: 5px;
  }
  .blog-post-title {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 1rem;
  }
  .blog-post-meta {
  margin-bottom: 1.25rem;
  color: #D6E4E5;
  font-size: 0.9rem;
  font-weight: 400;
  }
  /*
  
  Footer
  */
  .blog-footer {
  padding: 2.5rem 0;
  color: #D6E4E5;
  text-align: center;
  background-color: #497174;
  border-top: .05rem solid #EFF5F5;
  }
  .blog-footer p:last-child {
  margin-bottom: 0;
  }